body {
    background-color: #35557a;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
}

.container {
    background-color: #3fa533;
    width: 300px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
}

img {
    width: 130px;
    border-radius: 5px;
}

input {
    width: 80%;
    padding: 7px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
}

.btn {
    background-color: white;
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.grid img {
    width: 100px;
}
